<div id="<%= dom_id company_category %>">
  <p>
    <strong>Company:</strong>
    <%= company_category.company_id %>
  </p>

  <p>
    <strong>Category:</strong>
    <%= company_category.category_id %>
  </p>

</div>
