<h1>Editing sponsored product</h1>

<%= render "form", sponsored_product: @sponsored_product %>

<br>

<div>
  <%= link_to "Show this sponsored product", @sponsored_product %> |
  <%= link_to "Back to sponsored products", sponsored_products_path %>
</div>
