<%# app/views/admin/categories/upload_csv.html.erb %>

<h1>Importar Categories por CSV</h1>

<%= form_with url: import_csv_admin_categories_path,
              multipart: true,
              local: true do |f| %>

  <div class="inputs">
    <%= file_field_tag :file, accept: '.csv', required: true %>
  </div>

  <div class="actions">
    <%= f.submit 'Importar CSV', class: 'button' %>
  </div>
<% end %>
