<div id="<%= dom_id company_image %>">
  <p>
    <strong>Company:</strong>
    <%= company_image.company_id %>
  </p>

  <p>
    <strong>Image type:</strong>
    <%= company_image.image_type %>
  </p>

</div>
