<h1>Editing company image</h1>

<%= render "form", company_image: @company_image %>

<br>

<div>
  <%= link_to "Show this company image", @company_image %> |
  <%= link_to "Back to company images", company_images_path %>
</div>
